.card-item {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin: 10px 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-item img {
    width: 300px;
    height: 320px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.card-description {
    text-align: center;
    line-height: 1;
    text-align: justify;
    padding: 20px;
    font-size: 14px;
}

.card-row {
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.card-section {
    background-color: rgba(255, 255, 255, 0.55);
    width: 88.8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

.card-pa {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
    padding: 0px 90px;
    padding-bottom: 30px;
}

.boton {
    background-color: #C63F3F;
    padding: 15px;
    width: 230px;
    border-radius: 10px;
    font-weight: bold;
}