.contnidoCampeonatos {

    
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    max-height: max-content;
    padding: 10px;
    border: 1px solid white;
    margin-left: 180px;
    height:95vh;
}

.textoE{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}
.cardCampeonato{
    display: flex;
    gap: 20px;
}

.imagen{
    height: 140px;
    width: 140px;
    background-color: aliceblue;
    border-radius: 10px;
}

.descripcion{
    display: flex;
    gap: 20px;
    border: 1px solid;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    width: max-content;
}
.texto{
    width: 220px;
}
.barraProgreso{
    background-color: aliceblue;
    height:25px;
    border-radius: 10px;
    text-align: end;
    margin-top: 42px;
}
.editar{
    background-color: rgb(226, 59, 59);
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    font-size: large;
}
.porciento{
    font-size: 20px;
    margin: 0%;
}
.campeonatosDisponibles{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px; 
}

.progreso{
    font-size: large;
    margin: 0%;
}

.tituloTorneo{
    font-size: large;
    margin: 0%;
}