.barraLateral {
    height: 100vh;
    position: fixed;
    left: 0;
    width: max-content;
}

.barraLateral:hover {
    background-color: #53637a;
    transition: background-color 0.5s ease;
}

.img {
    margin-left: 15px;
}

.img2 {
    margin-left: 40px;
}

.img3 {
    margin-left: 30px;
}

.img4 {
    margin-left: 10px;
}

.img5 {
    margin-left: 18PX;
}

.lista {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    color: aliceblue;
    width: 170px;
    height: 100%;
    font-size: small;

}

.contenedor {
    margin-bottom: 50px;
    display: grid;
    place-content: center;
}