@media (max-width: 2500px) {
    .bodyDerrotero {
        /* background-color: rgb(45, 50, 105); */
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        max-width: 2500px; 
        margin: 0 auto;
    }
}